@model Cart

<style>
    <style >

    #cart {
        color: white;
    }
</style>

<ul class="navbar-nav  my-2 my-lg-0">
    <li id="cart" class="nav-item">
        <a class="nav-link" href="/Cart">
            <i class="fas fa-database"></i>
            (@Model.CartLines.Count)
        </a>
    </li>
</ul>